DirectoryIndex index.php index.html

{% for vhost in apache_vhosts %}
<VirtualHost *:80>
  ServerName {{ vhost.servername }}
{% if vhost.documentroot is defined %}
  DocumentRoot {{ vhost.documentroot }}
{% endif %}
{% if vhost.documentroot is defined %}
  <Directory "{{ vhost.documentroot }}">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Order allow,deny
    Allow from all
  </Directory>
{% endif %}

{% for host in groups.tomcat %}
{% if not hostvars[host]['use_proxy'] %}
  ProxyPass        {{ hostvars[host]['proxy_dir'] }} http://localhost:{{ hostvars[host]['tomcat_http_port'] }}{{ hostvars[host]['proxy_dir'] }}
  ProxyPassReverse {{ hostvars[host]['proxy_dir'] }} http://localhost:{{ hostvars[host]['tomcat_http_port'] }}{{ hostvars[host]['proxy_dir'] }}
{% endif %}
{% endfor %}

  <Proxy balancer://http_balancer>
{% for host in groups.tomcat %}
  {% if hostvars[host]['use_proxy'] %}
    BalancerMember http://127.0.0.1:{{ hostvars[host].tomcat_https_port }} route={{ loop.index }}
  {% endif %}
{% endfor %}
    ProxySet lbmethod=byrequests
  </Proxy>

  Header add Set-Cookie "ROUTEID=.%{BALANCER_WORKER_ROUTE}e; path=/" env=BALANCER_ROUTE_CHANGED

  ProxyPass /balance-manager !
  ProxyPass / balancer://http_balancer/ stickysession=ROUTEID
  ProxyPassReverse / balancer://http_balancer/

{% if vhost.extra_parameters is defined %}
  {{ vhost.extra_parameters }}
{% endif %}
</VirtualHost>

{% endfor %}

{% for vhost in apache_vhosts_ssl %}
{% if apache_ssl_certificates.results[loop.index0].stat.exists %}
<VirtualHost *:443>
  ServerName {{ vhost.servername }}
{% if vhost.documentroot is defined %}
  DocumentRoot {{ vhost.documentroot }}
{% endif %}

  SSLEngine on
  SSLProxyEngine on
  SSLCipherSuite {{ apache_ssl_cipher_suite }}
  SSLProtocol {{ apache_ssl_protocol }}
  SSLHonorCipherOrder On
  SSLCertificateFile {{ vhost.certificate_file }}
  SSLCertificateKeyFile {{ vhost.certificate_key_file }}
{% if vhost.certificate_chain_file is defined %}
  SSLCertificateChainFile {{ vhost.certificate_chain_file }}
{% endif %}

{% if vhost.documentroot is defined %}
  <Directory "{{ vhost.documentroot }}">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Order allow,deny
    Allow from all
  </Directory>
{% endif %}

{% for host in groups.tomcat %}
{% if not hostvars[host]['use_proxy'] %}
  ProxyPass        {{ hostvars[host]['proxy_dir'] }} http://localhost:{{ hostvars[host]['tomcat_https_port'] }}{{ hostvars[host]['proxy_dir'] }}
  ProxyPassReverse {{ hostvars[host]['proxy_dir'] }} http://localhost:{{ hostvars[host]['tomcat_https_port'] }}{{ hostvars[host]['proxy_dir'] }}
{% endif %}
{% endfor %}

  <Proxy balancer://https_balancer>
{% for host in groups.tomcat %}
  {% if hostvars[host]['use_proxy'] %}
    BalancerMember http://127.0.0.1:{{ hostvars[host].tomcat_https_port }} route={{ loop.index }}
  {% endif %}
{% endfor %}
    ProxySet lbmethod=byrequests
  </Proxy>

  Header add Set-Cookie "ROUTEID=.%{BALANCER_WORKER_ROUTE}e; path=/" env=BALANCER_ROUTE_CHANGED

  ProxyPass /balance-manager !
  ProxyPass / balancer://https_balancer/ stickysession=ROUTEID
  ProxyPassReverse / balancer://https_balancer/

{% if vhost.extra_parameters is defined %}
  {{ vhost.extra_parameters }}
{% endif %}
</VirtualHost>

{% endif %}
{% endfor %}
