---

apache_extra_parameters: |
    ProxyPreserveHost On
    ProxyPass / {{ proxy_pass }}
    ProxyPassReverse / {{ proxy_pass }}
    ProxyRequests Off
    ProxyVia Off

apache_vhosts:
  - {
    servername: "{{ proxy_name }}",
    documentroot: "/var/www/",
    extra_parameters: "{{ apache_extra_parameters }}"
  }

# Configure SSL for stong security while maintaining backwards compatibility
# (see https://raymii.org/s/tutorials/Strong_SSL_Security_On_Apache2.html)
apache_ssl_protocol: "All -SSLv2 -SSLv3"
apache_ssl_cipher_suite: "ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-SHA256:DHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4"

apache_vhosts_ssl:
  - {
    servername: "{{ proxy_name }}",
    documentroot: "/var/www/",
    certificate_file: "{{ certificate_file }}",
    certificate_key_file: "{{ certificate_key_file }}",
    extra_parameters: "{{ apache_extra_parameters }}"
  }

apache_mods_enabled:
  - proxy.load
  - proxy_http.load
  - rewrite.load
  - ssl.load
