HOSTNAMES_CFG="-DintygstjanstUrl={{intygstjanstUrl}} -DminaintygUrl={{minaintygUrl}} -DwebcertUrl={{webcertUrl}} -DprivatlakarportalUrl={{privatlakarportalUrl}}"
export JAVA_OPTS="$JAVA_OPTS $HOSTNAMES_CFG"
