HOSTNAMES_CFG="-DintygstjanstUrl={{intygstjanstIp}} -DminaintygUrl={{minaintygIp}} -DwebcertUrl={{webcertIp}} -DprivatlakarportalUrl={{privatlakarportalIp}}"
export JAVA_OPTS="$JAVA_OPTS $HOSTNAMES_CFG"
